.sidebar-container {
  position: relative;
  pointer-events: all;
}

.form-container {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 550px;
  pointer-events: all;
  height: 100%;
  overflow: auto;

  & > div {
    position: relative;
    min-height: 100vh;
    padding-bottom: 0 !important;
    padding-top: 0 !important;
  }
}

.filters-container {
  position: absolute;
  right: 0;
  top: 50px;
  max-height: 600px;
  width: 324px;
}

.filters {
  margin-right: 10px;
}

.layer-container {
  padding: 5px;
  display: flex;

  .layer-image {
    display: flex;

    &__image {
      display: block;
      width: 300px;
      height: auto;
    }
  }

  .layer-list {
    position: relative;
    display: flex;
    padding-left: 25px;

    &_title {
      z-index: 1000;
    }

    &__item {
      background: url("./assets/layer.svg") no-repeat;
      width: 160px;
      height: 105px;
      display: block;
      position: absolute;

      &[data-active=true] {
        pointer-events: none;
        background: url("./assets/layer_selected.svg") no-repeat;
      }
    }

    &__title {
      width: 150px;
      margin-top: 20px;
    }
  }
}
