.sidebar-container {
  position: relative;
  pointer-events: all;
}

.form-container {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 550px;
  pointer-events: all;
  height: auto;
  overflow: hidden;

  & > div {
    position: relative;
    height: 100vh;
  }
}

.filters-container {
  position: absolute;
  right: 0;
  top: 50px;
  max-height: 600px;
  width: 324px;
}

.filters {
  margin-right: 10px;
}