.sidebar-container {
  position: relative;
  pointer-events: all;
}

.form-container {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 550px;
  pointer-events: all;

  & > div {
    position: relative;
    height: 100vh;
  }
}